body
{
	background: url(/images/bg2.jpg) 50% 0 #fdfff4 repeat-x;
	font-family: Tahoma;
	font-size: 0.8em;
	margin: 0px;
	color: #ddded6;
}
.warning
{
	color: red;
}
.status
{
	color: green;
}
td
{
	padding: 2px 4px;
}
.wow-button
{
	background: url(/images/button_bg2.gif) no-repeat;
	font-size: 1em;
	width: 194px;
	height: 25px;
	color: white;
	text-decoration: none;
	line-height: 22px;
	border: 0px;
	display: block;
	text-align: center;
}
.wow-button:hover
{
	background-position: 0 bottom;
}
#ev_bg
{
	background: url(/images/ev_bg2.gif) repeat-y;
	width: 1064px;
	margin: 0px auto;
}
#everything
{
	width: 1000px;
	margin: 0 32px;
	background: url(/images/wood-weathered.jpg);
	border: 1px	solid black;
	border-width: 0px 1px;
}
#middle
{
	clear: both;
	background: url(/images/border_b_2.gif) repeat-x;
	padding: 20px 10px;
}
#header
{
	height: 162px;
	background: url(/images/wotlk_header.jpg) right no-repeat;
	padding: 0 20px;
}
#header h1
{
	padding-top: 115px;
	margin: 0;
	color: white;
}
#footer
{
	clear: both;
	padding: 20px
}
.link
{
	color: #ffbc1c;
}
.link:hover
{
	color: #f7a850;
}
.navigation
{
	text-align: center;
}
.navigation ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.navigation li
{
	display: inline;
	margin: 0px;
	padding: 0px;
}
