<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>World of Warcraft Combat Log Parser</title>
		<link href="css/style1.css" rel="stylesheet" type="text/css">
		<!-- Change the next line to green.css, yellow.css, or red.css -->
		<link href="css/blue_tex.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="ev_bg">
			<div id="everything">
				<div id="header">
					<h1>Combat Log Parser</h1>
				</div>
				<div id="middle" class="horizontal">
					<div id="left_column">
						<div id="navigation">
							<a href="./">Home</a>
							<a href="./raids">Raid Listing</a>
							<a href="./upload">Upload Combat Log</a>
							<a href="#">Nav Item4</a>
							<a href="#">Nav Item5</a></div>
						</div>
					<div id="middle_column">
						<h3>Upload Combat Log</h3>
						<form method="post" enctype="multipart/form-data" action="./upload">
							<p><label for="name">Event Name:</label> <input type="text" id="name" name="name" size="64" maxlength="80" /></p>
							<p><input type="file" id="file" name="file" /></p>
							<p><input type="submit" id="submit" value="Upload" /></p>
						</form>
					</div>
				<div id="footer">
					<div id="subnav"><a href="#">SubNav1</a> | <a href="#">SubNav2</a> | <a href="#">SubNav3</a> | <a href="#">SubNav4</a> | <a href="#">SubNav5</a> | <a href="#">SubNav6</a></div>
					<span class="copyright">World of Warcraft&reg; and Blizzard Entertainment&reg; are all trademarks or registered trademarks of Blizzard Entertainment in the United States and/or other countries. <br> These terms and all related materials, logos, and images are copyright &copy; Blizzard Entertainment. This site is in no way associated with or endorsed by Blizzard Entertainment&reg;.</span>
				</div>
			</div>
		</div>
	</body>
</html>

